body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
._t {
    display: flex;
    justify-content: center;
}
.ctn {
    width: 1366px;
    min-height: 30px;
    margin: 0 2%;
}
.br {
    border: 1px dashed red;
}
.tr {
    border: 1px dashed blue;
}
.flx {
    display: flex;
}
.l-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}
.txt-replacement {
    text-indent: -999px;
    overflow: hidden;
}